@import 'https://at.alicdn.com/t/font_3114374_3xm0nqmgran.css'
.ul {
  list-style: none;
}

.l-h-0 {
  line-height: 0;
}

/* 页面布局 整个页面主要分为三部分 顶部 内容 底部 */
.head .content .foot

/* 背景色 */
/* 内容背景色 */
.content {
  background-color: rgb(165, 162, 162);

}

.bgc-white {
  background-color: white;
}

.bgc-gray {
  background-color: rgb(182, 181, 181);
}

.bgc-low-gray {
  background-color: #f5f5f5;
}

/* 可视区域 适配区域 等同于content pc端*/
/* 适配盒子 */
.container-pc .flex-1 {
  flex: 1;
}

.width {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.width-49 {
  width: 49%;

}

.width-80 {
  width: 80%;

}

.width-70 {
  width: 70%;

}

.width-32 {
  width: 32%;
  // 设置左边距为1%

}

.width-30 {
  width: 30%;

}

.width-95 {
  width: 95%;
  margin: auto;
}

.width-19 {
  width: 19%;

}

.width-24 {
  width: 24%;

}

.width-fit {
  width: fit-content;
}

.height-100 {
  height: 100%;
}


/* 居中 */
.m-c {
  margin: auto;
}

/* 内边距 */

.p-tb-5 {
  padding: 10rpx 0;
}

.p-tb-10 {
  padding: 20rpx 0;
}

.p-lr-10 {
  padding: 0 20rpx;
}

.p-lr-15 {
  padding: 0 30rpx;
}

.p-lr-5 {
  padding: 0 10rpx;
}

.p-lr-2 {
  padding: 0 4rpx;
}

.p-2 {
  padding: 4rpx;
}

.p-5 {
  padding: 10rpx;
}

.pr-10 {
  padding-right: 20rpx;
}

.pr-25 {
  padding-right: 50rpx;
}

.pl-10 {
  padding-left: 20rpx;
}

.pr-5 {
  padding-right: 10rpx;
}

.p-tb-20 {
  padding: 40rpx 0;
}

.p-t-10 {
  padding-top: 20rpx;
}

.p-10 {
  padding: 20rpx;
}

.p-15 {
  padding: 30rpx;
}

.p-b-10 {
  padding-bottom: 20rpx;
}

.p-r-2 {
  padding-right: 4rpx;
}


/* 外边距 */
.mr-5 {
  margin-right: 10rpx;
}

.ml-25 {
  margin-left: 50rpx;
}

.m-l-15 {
  margin-left: 30rpx;
}

.m-l-5 {
  margin-left: 10rpx;
}

.m-r-15 {
  margin-right: 30rpx;
}

.m-r-25 {
  margin-right: 50rpx;
}

.mb-10 {
  margin-bottom: 20rpx;
}

.mr-10 {
  margin-right: 20rpx;
}

.m-tb-10 {
  margin: 20rpx auto;
}

.m-tb-25 {
  margin: 50rpx auto;
}

.m-t-10 {
  margin-top: 20rpx;
}

.m-lr-10 {
  margin: 0 20rpx;
}

.m-5-10 {
  margin: 5rpx 10rpx;
}

.m-10 {
  margin: 20rpx;
}

.m-l-10 {
  margin-left: 20rpx;
}

.m-t-5 {
  margin-top: 10rpx;
}


/* 分布方式 */
.flex {
  display: flex;
  align-items: center;
}

// 竖向分散布局
.a-i-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jcc {
  justify-content: center;
}

/* 分散排列 居中*/
.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.jcs {
  justify-content: start;
}

.jce {
  justify-content: end;
}

.a-i-c {
  align-items: center;
}

.a-i-fs {
  align-items: flex-start;
}

.a-i-fe {
  align-items: flex-end;
}

.t-a-c {
  text-align: center;
}

.t-a-r {
  text-align: right;
}

.t-a-l {
  text-align: left;
}

/* 边框 */
.border-r {
  border-right: 2rpx solid silver;
}

.border-b {
  border-bottom: 2rpx solid silver;
}

.bor-r-1 {
  border-right: 2rpx solid silver;
}

.border {
  border: 2rpx solid silver;
}

.bor-l-1 {
  border-left: 2rpx solid silver;
}

.bor-b {
  border-bottom: 2rpx solid silver;
}


/* 圆点 */
.dot-5 {
  width: 10rpx;
  height: 10rpx;
  border-radius: 100%;
  background-color: black;
}

.dot-10 {
  width: 20rpx;
  height: 20rpx;
  border-radius: 100%;
  background-color: black;
}

/* 竖线 */
.line {
  width: 2rpx;
  height: 24rpx;
  margin: auto auto;
  background-color: rgb(145, 141, 141);
}

/* 边框圆角 */
.b-radius-10 {
  border-radius: 20rpx;
}

.b-radius-5 {
  border-radius: 10rpx;
}

/* 字体大小 颜色 */
.font-s-16 {
  font-size: 16px;
}

.font-w-7 {
  font-weight: 700;
}

.font-s-12 {
  font-size: 12px;
}

.font-s-14 {
  font-size: 14px;
}

.font-s-18 {
  font-size: 18px;
}

.font-c-red {
  color: red;
}

.font-c-gray {
  color: rgb(177, 176, 176);
}

.font-c-w {
  color: white;
}

.border-n {
  border: none;
}

/* 背景透明度 */
.rgba-black {
  background-color: rgba(88, 87, 87, 1);
}

/* 透明度 */
.bg-touming {
  background: transparent;
}

/* 定位 */
.pos-rel {
  position: relative;
}

.hover:hover {
  background-color: #f5f5f5;
}

/* 省略号 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* // 第几行显示省略号 */

.ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


/* input默认边框的去除方法 */
.input-bk-n {
  outline: none;
}


/* // 删除线 */
.del-line {
  text-decoration: line-through;
}


/* // 用边框画三角形 */
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 200rpx solid red;
  border-left: 300rpx solid transparent;
}

// /* div类名下的 第2个boxn类名的盒子 */ 也可以是 2n 3n 3n+1第几个 之类的
.div .boxn:nth-child(2) {
  color: aqua;
}

/* // 让外层盒子撑满屏幕 并且内容居中 */
.div-center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.font-break {
  // 中文字换行
  white-space: pre-wrap;
  word-wrap: break-word;
  // 英文字换行
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}

// uni 去除滚动条 写在app.vue的页面下
// ::-webkit-scrollbar {
//   display: none;
//   width: 0 !important;
//   height: 0 !important;
//   -webkit-appearance: none;
//   background: transparent;
// }

// 隐藏数字输入框的上下按钮 // input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }